{#{% load staticfiles %}#}
{#<!-- ================================================#}
{#  Scripts#}
{#  ================================================ -->#}
{##}
{#<!-- jQuery Library -->#}
{#<script type="text/javascript" src="{% static 'blog/js/jquery-3.2.1.min.js' %}"></script>#}
{#<script type="text/javascript">#}
{##}
{#$(document).ready(function() {#}
{#     alert('test');#}
{#});#}
{##}
{#</script>#}
{#<!-- Django-smart-selects-->#}
{#<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>#}
{#<!--materialize js-->#}
{#<script type="text/javascript" src="{% static 'blog/js/materialize.js' %}"></script>#}
{#<!--prism-->#}
{#<script type="text/javascript" src="{% static 'blog/js/prism.js' %}"></script>#}
{#<!--scrollbar-->#}
{#<script type="text/javascript" src="{% static 'blog/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>#}
{#<!--plugins.js - Some Specific JS codes for Plugin Settings-->#}
{#<script type="text/javascript" src="{% static 'blog/js/plugins.js' %}"></script>#}
